@model IEnumerable<SilkierQuartz.Models.ExecutionViewModel>

@{
    ViewBag.Title = "Executions";
}

<div class="ui inverted page dimmer" id="dimmer"><div class="ui loader"></div></div>

<div id="msg-panel"></div>

<table class="ui single line table highlight-rows" id="execution-list">
    <thead>
        <tr>
            <th>Job</th>
            <th>Trigger</th>
            <th>Scheduled Fire Time</th>
            <th>Actual Fire Time</th>
            <th>Run Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-controller="Jobs" asp-action="Edit" asp-all-route-data="item.JobsRouteData()">@item.JobGroup.@item.JobName</a></td>
                <td><a asp-controller="Triggers" asp-action="Edit" asp-all-route-data="item.TriggersRouteData()">@item.TriggerGroup.@item.TriggerName</a></td>
                <td>@item.ScheduledFireTime</td>
                <td>@item.ActualFireTime</td>
                <td>@item.RunTime</td>
                <td style="text-align: right"><button class="ui super tiny red button btn-interrupt" data-id="@item.Id"><i class="stop icon"></i>Interrupt</button></td>
            </tr>
        }


    </tbody>
</table>

@if (!Model.Any())
{
    <vc:no-results name="" />
}

@{ 
    string interruptUrl = Url.Action("Interrupt");
}

<script>

    window['executions'] = {
        interruptUrl: @Json.Serialize(interruptUrl)
    }

    initDimmer();

    $(document).on('click', '.btn-interrupt', function () {

        $('#dimmer').dimmer('show');
        const id = $(this).data('id');
        const btn = $(this);
        $.ajax({
            type: 'POST', url: window.executions.interruptUrl,
            data: JSON.stringify({ id: id}),
            contentType: 'application/json', cache: false,
            success: function () {
                $('#dimmer').dimmer('hide');

                const msg = $('<div class="ui positive inline message"><p>Interruption of "'+id+'" requested successfully.</p><i class="close icon"></i></div>');
                msg.transition('fade in', '500ms')
                    .find('.close').on('click', function () { $(this).closest('.message').transition('fade'); });

                $('#msg-panel').prepend(msg);

                btn.addClass('disabled');
            },
            error: function (e) {
                $('#dimmer').dimmer('hide');
                prependErrorMessage(e, $('#msg-panel'));
            }
        });

    });

</script>
