@model SilkierQuartz.Components.GroupActions.GroupActionsViewModel

@{
    if (!Model.Items.Any())
    {
        return;
    }
}

<div class="group-actions" id="@Model.Id" >
    <h4 class="ui dividing header">@Model.Header</h4>
    <ul>
        @foreach (var item in Model.Items)
        {
            @if (item.IsPaused)
            {
                <li class="paused" x-data="groupAction('@item.Name', 'resume', '@Model.Id')">
                    @item.Name
                    <button @@click="onClick" class="ui super tiny button"><i class="play icon"></i>Resume</button>
                </li>
            }
            else
            {
                <li class="resumed" x-data="groupAction('@item.Name', 'pause', '@Model.Id')">
                    @item.Name
                    <button @@click="onClick" class="ui super tiny button"><i class="pause icon"></i>Pause</button>
                </li>
            }
        }
    </ul>
</div>